main {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    
}

article {
    display: flex;
    display: flex;
    border: 2px solid blue;
    padding: 10px;
    padding-left: 25px;
}


.orange {
    background: tomato;
}

.box {
    background: blue;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.orange .box{
    background: purple;
}